* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100%;
}

.content {
    padding-top: 170px;
    padding-left: 110px;
    position: absolute;
    top: 170px;
}

.content, .content-info {
    padding-top: 10%;
    color: rgb(252 247 227);
}

.content-info {
    background-color: rgb(156,175,136);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-info {
    margin-top: 100px;
    height: fit-content;
    background-color: rgb(252 247 227);
    color: rgb(63 90 69);
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.asdf {
    padding-left: 150px;
    padding-top: 60px;
}

.asdf p {
    padding-bottom: 10px;
}

.big-text {
    font-size: 60px;
}

.small-text {
    font-size: 30px;
}

.toastmasters-info {
    height: fit-content;
    background-color: rgb(156,175,136);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toastmasters-info p {
    padding-top: 60px;
    padding-bottom: 40px;
    color: rgb(242 237 170);
}

.faq-info {
    height: fit-content;
    background-color: rgb(252,247,227);
    color: black;
    width: 100%;
}

.faq {
    padding-left: 180px;
    padding-bottom: 200px;
}


.faq-question {
    background-color: rgb(63 90 69);
    width: fit-content;
    padding: 0.75rem;
    display: flex;
    border-radius: 0.25rem;
    font-size: 20px;
    color: rgb(252 247 227);
    margin-bottom: 10px;
}

.svg-button {
    background: none;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    fill: #c0392b;
    margin-left: -7px;
    margin-right: -5px;
    width: 10px;
    margin-top: -15px;
    height: 24px; 
}

.wedding-gifts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.wedding-gifts p {
    color: rgb(63 90 69);
    padding-bottom: 50px;
}

.question {
    color: rgb(242 237 170);
    padding-right: 15px;
}

.content h1, .content-info h1{
    font-size: 64px;
    font-weight: 600;
    font-size : clamp(2rem, 10vw, 5rem);
}

.content button, .osa-button, .content-info button, .osa-button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: rgb(252 247 227);
    background-color: black;
    cursor: pointer;
    font-size: 16px;
}

.osa-button {
    margin: 0px;
    text-decoration: none;
    margin-left: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(156,175,136);
}

.image-container-tilted {
    position: absolute;
    top: -70px;
    padding-left: 200px;
    transform: rotate(-10deg);
}


.image-container-tilted img {
    width: 50%;
}

.launch-time div {
    margin-right: 1.5em;
}

.image-container img {
    padding-right: 15%;
    padding-top: 5%;
}
.launch-time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.launch-time div p{
    font-size: clamp(24px, 10vw, 60px);
    margin-bottom: -14px;
    margin-right: 1em;
}

.launch-time div span{
    font-size: clamp(12px, 5vw, 24px);
}

.text-background {
    color: rgb(252 247 227);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width: 480px) {
    .timer-text {
        padding-bottom: 10px;
    }

    .content {
        padding-top: 200px;
        padding-left: 30px;
        background-color: rgb(156,175,136);
        top: 0px;
        height: 100%;
        overflow: hidden;
    }

    .text-background {
        color: rgb(252 247 227);
        text-shadow: 0 0 black, 0 0 black, 0 0 black, 0 0 black;
    }

    .content-info {
        width: fit-content;
    }

    .big-text {
        font-size: 36px;
        overflow: hidden;
    }
    
    .small-text {
        font-size: 24px;
    }
    
    .asdf {
        padding-left: 0px;
    }

    .asdf img {
        display: none;
    }

    .time-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 400px;
    }

    .hehe {
        width: 80%;
    }

    .faq {
        padding-left: 0px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lol {
        margin-bottom: 60px;
    }

}

@media (max-width: 1025px) {
       .image-container-tilted {
        display: none;
    }
       .image-container {
        display: none;
    }

    .launch-time div p{
        margin-right: 0px;
    }
}